@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/styles/MaterialIcons-Regular.ttf) format('truetype');
}

.icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: -3px;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

#headerNavigation {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

#headerNavigation a {
    color: var(--neutral);
    text-decoration: none;
    font-weight: normal;
    padding-bottom: 2px;
}

#headerNavigation a.active {
    color: var(--darker);
    border-bottom: 2px dotted var(--darker);
}