<main>
    <h1>About</h1>

	<memes></memes>

	<script src="about/about.js" type="module"></script>
</main>

<template name="memes">
	{{#each memes}}
		<p>{{id}}</p>
		<img src="{{url}}">
	{{/each}}
</template>