<section class="container-1100 container-centered">
    <h2>Page not found - {{path}}</h2>
    <p id="message">__content__</p>
</section>

<script>
    sleepless.rplc8("#message", {
        content: "The page you are looking for does not exist."
    });
</script>