.button {
	font-weight: bold;
	border: 2px solid var(--neutral-dark);
	border-radius: var(--input-radius);
	padding: 4px 12px;
	transition: box-shadow 0.1s ease-in-out;

	min-width: 44px;
	max-width: 500px;

	flex-shrink: 0;
	text-overflow: ellipsis;
	white-space: nowrap;

	color: var(--darker);
	background-color: var(--lighter);
	
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	
	line-height: 18px;
}

.button.button-positive {
	color: var(--lighter);
	background-color: var(--positive);
}

.button:hover {
	cursor: pointer;
	box-shadow: 2px 4px 0 var(--darkest);
}
