:root {
	--lightest: hsl(0, 0%, 100%);
	--lighter: hsl(0, 0%, 98%);
	--light: hsl(0, 0%, 88%);
	--neutral-light: hsl(0, 0%, 66%);
	--neutral: hsl(0, 0%, 50%);
	--neutral-dark: hsl(0, 0%, 44%);
	--dark: hsl(0, 0%, 12%);
	--darker: hsl(0, 0%, 2%);
	--darkest: hsl(0, 0%, 0%);

	--positive-lightest: hsl(208, 100%, 95%);
	--positive-lighter: hsl(208, 100%, 88%);
	--positive-light: hsl(208, 100%, 66%);
	--positive: hsl(208, 100%, 39%);
	--positive-dark: hsl(208, 100%, 22%);
	--positive-darker: hsl(208, 100%, 12%);
	--positive-darkest: hsl(208, 100%, 5%);

	--calm: #0099ff;

	--balanced: #008055;
	--energized: #ffa900;
	--assertive: #DD0033;
	--juicy: #850053;

	--breakpoint-large: 1020px;
	--breakpoiint-medium: 640px;
	--breakpoiint-small: 480px;

	--input-radius: 3px;
}
