<link rel="stylesheet" href="styles/about.css">

<section class="container-900 container-centered container-padded flex flex-column gap-8">
	<h1><span class="icon">help</span> About</h1>
    <p>KetoJS is a stupidly named template for building very simple web apps. It's main features are:</p>
    <ul>
        <li>Vanilla HTML, JS, and CSS</li>
        <li>Simple layouts using replace and find on the server</li>
        <li>Server storage and user authentication using a local SQLite3 database</li>
        <li>Styles that are easy to override and replace</li>
        <li>Easy to deploy to any node based server (using connect package)</li>
    </ul>
</section>

<script defer async src="scripts/about.js"></script>
