<section class="container-500 container-centered container-padded">
    <form class="flex flex-column gap-8" id="loginForm">
        <h1><span class="icon">lock</span> Login</h1>
        <input type="text" name="username" placeholder="Username" min="3" max="100" required/>
        <input type="password" name="password" placeholder="Password"  min="3" max="100" required/>
        <p>Need an account? <a href="/login?action=register">Register</a></p>
        <button class="button button-positive" type="submit">Submit</button>
    </form>
    
    <form class="flex flex-column gap-8" id="registerForm">
        <h1><span class="icon">app_registration</span> Register</h1>
        <input type="text" name="username" placeholder="Username" min="3" max="100" required/>
        <input type="email" name="email" placeholder="Email" min="3" max="100" required/>
        <input type="password" name="password" placeholder="Password"  min="3" max="100" required/>
        <p>Already have an account? <a href="/login?action=login">Login</a></p>
        <button class="button button-positive" type="submit">Submit</button>
    </form>
</section>

<script defer async src="scripts/login.js"></script>
