<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>KetoJS - {{route.name}}</title>
        
        <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />

        <link rel="stylesheet" href="../coughdrop.css">
        <link rel="stylesheet" href="../layout.css">
    </head>
    <body>
        <header class="container-1100 container-centered flex flex-row-nowrap align-center justify-space-between">
            <h1 class="flex flex-row-nowrap align-center gap-8">
                <img src="images/logo.png" height="48" alt="KetoJS Logo">
                KetoJS - {{route.name}} 
            </h1>
            <nav class="flex flex-row-nowrap align-center gap-8">
                <a href="/" class="">Home</a>
                <a href="/about" class="">About</a>
                <a href="/login" class=">">Login</a>
            </nav>
        </header>
        <main>
            <script src="../handlebars.min.js"></script>
            <script src="../sleepless.js"></script> 
            <script src="../lib.js"></script>
            <script>renderData={{{o2j data}}}</script>
            
            {{{body}}}
        </main>
    </body>
</html>
