:root {
	--positive: #0074C7;
	--positive-darker: #004F87;
	--positive-darker-x2: #002A47;
	--dark: #2c2c2c;
	--deep-dark: #001524;
	--light: #FFF;
	--subtle-light: #F8F8F8;

	--calm: #0099ff;

	--balanced: #008055;
	--energized: #ffa900;
	--assertive: #DD0033;
	--juicy: #850053;

	--neutral: #e8e8e8;
	--neutral-middle: #999999;
	--neutral-dark: #686870;

	--breakpoint-large: 1020px;
	--breakpoiint-medium: 640px;
	--breakpoiint-small: 480px;

	--radius-1: 0.1rem;
	--radius-2: 0.2rem;
	--radius-3: 0.5rem;
	--radius-4: 0.75rem;
	--radius-5: 1rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, html {
	min-height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;

	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 12pt;
	line-height: 1.4;
	font-weight: normal;
}

header, main, footer {
	margin: 0 auto;
	width: calc(100% - 0.8em);
	padding: 0.4em;
}

h1, h2, h3, h4, h5, h6 {
	margin: 18px auto;
}

h1 {
	font-size: 24pt;
}

main {
	min-height: calc(100vh - 50px - 4.8em);
}

nav {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}

nav a {
	text-decoration: none;
	color: var(--dark);
	padding: 4px;
}

nav a.active {
    border-bottom: 2px solid var(--dark);
}

figure {
	display: flex;
	flex-flow: column;
	width: 100%;
	max-width: 80vw;
	max-height: 80vh;
	margin: 0.3em auto;
	border: 1px solid #ccc;
	border-radius: var(--radius-2);
}
figure img {
    object-fit: contain;
    width: 100%;
}

figure figcaption {
    color: #fafafa;
    margin: 0;
    padding: 0.3em;
    background-color: rgba( 11, 11, 11, 0.8 );
}

input[type=text],
input[type=number],
input[type=checkbox],
input[type=password],
input[type=username],
input[type=email] {
    padding: 1em;
    border: 1px solid var(--dark);
	border-radius: var(--radius-1);
}

footer {
	min-height: 50px;
}

.min-width-300 { min-width: 300px; }
.min-width-400 { min-width: 400px; }
.min-width-500 { min-width: 500px; }
.min-width-600 { min-width: 600px; }
.min-width-700 { min-width: 700px; }
.min-width-800 { min-width: 800px; }
.min-width-900 { min-width: 900px; }
.min-width-1200 { min-width: 1200px; }

.max-width-300 { max-width: 300px; }
.max-width-400 { max-width: 400px; }
.max-width-500 { max-width: 500px; }
.max-width-600 { max-width: 600px; }
.max-width-700 { max-width: 700px; }
.max-width-800 { max-width: 800px; }
.max-width-900 { max-width: 900px; }
.max-width-1200 { max-width: 1200px; }
.max-width-100-percent { max-width: 100%; }
.width-100-percent {width: 100%;}

.min-height-300 { min-height: 300px; }
.min-height-400 { min-height: 400px; }
.min-height-500 { min-height: 500px; }
.min-height-600 { min-height: 600px; }
.min-height-700 { min-height: 700px; }
.min-height-800 { min-height: 800px; }
.min-height-900 { min-height: 900px; }
.min-height-1200 { min-height: 1200px; }

.max-height-100 { max-height: 100px; }
.max-height-200 { max-height: 200px; }
.max-height-300 { max-height: 300px; }
.max-height-400 { max-height: 400px; }
.max-height-500 { max-height: 500px; }
.max-height-600 { max-height: 600px; }
.max-height-700 { max-height: 700px; }
.max-height-800 { max-height: 800px; }
.max-height-900 { max-height: 900px; }
.max-height-1200 { max-height: 1200px; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.padding-top { padding-top: 8px; }
.padding-right { padding-right: 8px; }
.padding-left { padding-left: 8px; }
.padding-bottom { padding-bottom: 8px; }
.padding { padding: 8px; }

.margin-auto { margin: auto; }
.margin-top { margin-top: 8px; }
.margin-right { margin-right: 8px; }
.margin-left { margin-left: 8px; }
.margin-bottom { margin-bottom: 8px; }
.margin { margin: 8px; }

.flex { display: flex; }
	.flex.flow-row { flex-flow: row; }
	.flex.flow-row-wrap { flex-flow: row wrap; }
	.flex.flow-column{ flex-flow: column; }

.fit-contain {object-fit: contain;}
.fit-cover {object-fit: cover;}

.align-center {
	align-items: center;
}
.align-flex-start {
	align-items: flex-start;
}
.align-flex-end {
	align-items: flex-end;
}

.justify-center {
	justify-content: center;
}
.justify-space-between {
	justify-content: space-between;
}
.justify-flex-start {
	justify-content: flex-start;
}
.justify-flex-end {
	justify-content: flex-end;
}

.grid { display: grid;}
	.grid.col-1 { grid-template-columns: 1fr; }
	.grid.col-2 { grid-template-columns: 1fr 1fr; }
	.grid.col-3 { grid-template-columns: 1fr 1fr 1fr; }
	.grid.col-4 { grid-template-columns: 1fr 1fr 1fr 1fr; }
	.grid.col-5 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
	.grid.col-6 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; }
	.grid.col-1-auto { grid-template-columns: 1fr auto; }
	.grid.col-auto-1 { grid-template-columns: auto 1fr; }
	.grid.col-min-auto { grid-template-columns: minmax(100px, 200px) auto; }

	.grid.row-1 { grid-template-rows: 1fr; }
	.grid.row-2 { grid-template-rows: 1fr 1fr; }
	.grid.row-3 { grid-template-rows: 1fr 1fr 1fr; }
	.grid.row-4 { grid-template-rows: 1fr 1fr 1fr 1fr; }
	.grid.row-5 { grid-template-rows: 1fr 1fr 1fr 1fr 1fr; }
	.grid.row-6 { grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; }
	.grid.row-1-auto { grid-template-rows: 1fr auto; }
	.grid.row-auto-1 { grid-template-rows: auto 1fr; }
	.grid.row-min-auto { grid-template-rows: minmax(100px, 200px) auto; }

.grid.gap-1 { gap: 4px; }
	.grid.gap-2 { gap: 8px; }
	.grid.gap-3 { gap: 12px; }
	.grid.gap-4 { gap: 16px; }
	.grid.gap-5 { gap: 20px; }
	.grid.gap-6 { gap: 24px; }

/* text colors */
.light { color: var(--light); }
.dark { color: var(--dark); }
.balanced { color: var(--balanced); }
.deep-dark { color: var(--deep-dark); }
.energized { color: var(--energized); }
.assertive { color: var(--assertive); }
.positive { color: var(--positive); }

/* hover states for text colors */
.light-hover:hover { color: var(--light); }
.positive-hover:hover { color: var(--positive); }
.positive-darker-hover:hover { color: var(--positive-darker); }

/* background colors */
.bg-light { background-color: var(--light); }
.bg-dark { background-color: var(--dark); }
.bg-balanced { background-color: var(--balanced); }
.bg-deep-dark { background-color: var(--deep-dark); }
.bg-energized { background-color: var(--energized); }
.bg-assertive { background-color: var(--assertive); }
.bg-positive { background-color: var(--positive); }
.bg-positive-darker { background-color: var(--positive-darker); }

/* hover states for background colors */
.bg-light-hover:hover { background-color: var(--light); }
.bg-dark-hover:hover { background-color: var(--dark); }
.bg-positive-hover:hover { background-color: var(--positive); }
.bg-positive-darker-hover:hover { background-color: var(--positive-darker); }

.border {border: 1px solid var(--dark);}
.border-top {border-top: 1px solid var(--dark);}
.border-right {border-right: 1px solid var(--dark);}
.border-bottom {border-bottom: 1px solid var(--dark);}
.border-left {border-left: 1px solid var(--dark);}

@media screen and (max-width: 1020px) {
	.lg-border-top {border-top: 1px solid var(--dark);}
	.lg-border-right {border-right: 1px solid var(--dark);}
	.lg-border-bottom {border-bottom: 1px solid var(--dark);}
	.lg-border-left {border-left: 1px solid var(--dark);}
}

.radius-1 { border-radius: var(--radius-1); }
.radius-2 { border-radius: var(--radius-2); }
.radius-3 { border-radius: var(--radius-3); }
.radius-4 { border-radius: var(--radius-4); }
.radius-5 { border-radius: var(--radius-5); }

.button {
	font-size: 14pt;
	font-weight: bold;
	border: 0.0625rem solid var(--dark);
	border-radius: var(--radius-1);
	padding: 0.75rem 1rem;
	transition: box-shadow 0.2s ease-in-out;

	flex-shrink: 0;
	text-overflow: ellipsis;
	white-space: no-wrap;

	color: var(--light);
	background-color: var(--positive);
}

.button:hover {
	cursor: pointer;
	box-shadow: 2px 4px 0px var(--dark);
}

@media screen and (max-width: 480px) /* breakpoint small */ {
	nav {
		justify-content: center;
	}

	.grid.sm-col-1 { grid-template-columns: 1fr; }
	.grid.sm-col-2 { grid-template-columns: 1fr 1fr; }
}

@media screen and (max-width: 640px) /* breakpoint medium */
{
	.grid.md-col-1 { grid-template-columns: 1fr; }
	.grid.md-col-2 { grid-template-columns: 1fr 1fr; }
}

@media screen and (max-width: 1020px) /* breakpoint large */
{
	.grid.lg-col-1 { grid-template-columns: 1fr; }
	.grid.lg-col-2 { grid-template-columns: 1fr 1fr; }
}

.hid { display: none !important; }
