
* {
	box-sizing: border-box;
}

body, html {
	min-height: 100vh;
	width: 100vw;
	
	overflow-x: hidden;
	padding: 0;
	margin: 0;

	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 12pt;
	line-height: 1.4;
	font-weight: normal;

	background-color: var(--lightest);
	color: var(--darkest);
}

h1, h2, h3, h4, h5, h6 {
	margin: 8px 0;
}

h1 { font-size: 28pt; }
h2 { font-size: 22pt; }
h3 { font-size: 18pt; }
h4 { font-size: 14pt; }
h5 { font-size: 13pt; }

hr {
	border: 2px solid var(--neutral);
	border-radius: var(--radius-2);
}

figure {
	display: flex;
	flex-flow: column;
	width: 100%;
	max-width: 80vw;
	max-height: 80vh;
	margin: 0.3em auto;
	border: 1px solid #ccc;
	border-radius: var(--radius-2);
}
figure img {
	object-fit: contain;
	width: 100%;
}

figure figcaption {
	color: #fafafa;
	margin: 0;
	padding: 0.3em;
	background-color: rgba( 11, 11, 11, 0.8 );
}

input[type=text],
input[type=number],
input[type=checkbox],
input[type=password],
input[type=username],
input[type=email] {
	padding: 8px 16px;
	background-color: var(--dark);
	border: 2px solid var(--neutral);
	border-radius: var(--input-radius);
	color: var(--lightest);
}

footer {
	min-height: 50px;
}

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.padding-top { padding-top: 8px; }
.padding-right { padding-right: 8px; }
.padding-left { padding-left: 8px; }
.padding-bottom { padding-bottom: 8px; }
.padding { padding: 8px; }

.margin-auto { margin: auto; }
.margin-top { margin-top: 8px; }
.margin-right { margin-right: 8px; }
.margin-left { margin-left: 8px; }
.margin-bottom { margin-bottom: 8px; }
.margin { margin: 8px; }

.flex { display: flex; }
.flex.flow-row { flex-flow: row; }
.flex.flow-row-wrap { flex-flow: row wrap; }
.flex.flow-column{ flex-flow: column; }

.align-center { align-items: center; }
.align-stretch { align-items: stretch; }
.align-flex-start { align-items: flex-start; }
.align-flex-end { align-items: flex-end; }

.justify-center { justify-content: center; }
.justify-space-between { justify-content: space-between; }
.justify-flex-start { justify-content: flex-start; }
.justify-flex-end { justify-content: flex-end; }

.gap-4 { gap: 4px; }
.gap-8 { gap: 8px; }
.gap-12 { gap: 12px; }
.gap-16 { gap: 16px; }
.gap-24 { gap: 24px; }
.gap-48 { gap: 48px; }

/* text colors */
.light { color: var(--light); }
.dark { color: var(--dark); }
.balanced { color: var(--balanced); }
.energized { color: var(--energized); }
.assertive { color: var(--assertive); }
.neutral { color: var(--neutral); }
.neutral-dark { color: var(--neutral-dark); }
.positive { color: var(--positive); }

.hover-light:hover { color: var(--light); }
.hover-dark:hover { color: var(--dark); }
.hover-balanced:hover { color: var(--balanced); }
.hover-energized:hover { color: var(--energized); }
.hover-assertive:hover { color: var(--assertive); }
.hover-neutral:hover { color: var(--neutral); }
.hover-neutral-dark:hover { color: var(--neutral-dark); }
.hover-positive:hover { color: var(--positive); }

.hid { display: none !important; }
